<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<title>Responsive Web Mobile</title>

	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Included Bootstrap CSS Files -->
	<link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap-responsive.min.css" />
	
	<!-- Css -->	
	<link rel="stylesheet" href="/stylesheets/article_style.css" />
    <%= csrf_meta_tags %>
</head>
<body id="start">
	<!-- This is the overlay DIV that is displayed while loading a new page -->
	<div id="loader"></div>

	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="hero-unit">
					<h1>Infinite Scroll</h1>
					<p class="">here is a simple example of a infinite scroll!</p>
				</div>
			</div>
			<% if @current_user %>
             Logged in as <%= @current_user.email %>
             <%= link_to "Log out", :controller=>"login",:action=>"logout"  %>
            <% else %>
            <% end %>
		</div>
		<!-- This is the main container (#scroll-container) -->
		<div id="scroll-container" class="row">
			<%= yield %>
		</div>
	</div>
   
	<!-- These are all the links that can be loaded. -->
	<%if !@images.blank?%>
	<div id="pages">
		<%=will_paginate(@images)%>
	</div>
	<%end%>
	

	<script src="/javascripts/jquery-1.10.0.min.js"></script>
	<script src="/javascripts/bootstrap/js/bootstrap.min.js"></script>
	<script src="/javascripts/script.js"></script>
</body>
<style type="text/css">
 .span4 {
 	height:"200";
    background-color: #DCDCDC;
    margin-top: 10px;
 }
 body{
 	margin: 0;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 20px;
color: #333;
height:750px;
background: -webkit-linear-gradient(left top, red , yellow); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
background: linear-gradient(to bottom right, red , yellow); /* Standard syntax (must be last) */
padding-bottom: 40px;
padding-top: 60px;
 }
</style>
</html>